.header img{
    padding-top: 10px;
    display: block;
    max-height: 200px;
    max-width: 500px;
    margin-left: auto ;
    margin-right: auto;
    border-radius: 5px;
}
.header{
    text-align: center;
}
.navigation{
    padding-top: 10px;
}